* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
.main {
    background-image: url(C4TMLQ2.jpg);
    min-width: 380px;
    min-height: 340px;
    margin-left: 70%;
    transform: translateX(-120%);
} */